In [1]:
import json
import pandas as pd

# Specify the correct encoding (usually 'utf-8')
json_file = 'epl_merge.json'

with open(json_file, 'r', encoding='utf-8') as file:
    try:
        data = json.load(file)
        df = pd.DataFrame(data)
        print(df)
    except json.JSONDecodeError as e:
        print(f"Invalid JSON format: {e}")
    except UnicodeDecodeError as e:
        print(f"Unicode decoding error: {e}")

        get                                        parameters errors  results  \
0   players  {'league': '39', 'page': '27', 'season': '2023'}     []       20
1   players  {'league': '39', 'page': '17', 'season': '2023'}     []       20
2   players  {'league': '39', 'page': '15', 'season': '2023'}     []       20
3   players  {'league': '39', 'page': '11', 'season': '2023'}     []       20
4   players   {'league': '39', 'page': '2', 'season': '2023'}     []       20
5   players  {'league': '39', 'page': '13', 'season': '2023'}     []       20
6   players  {'league': '39', 'page': '23', 'season': '2023'}     []       20
7   players  {'league': '39', 'page': '24', 'season': '2023'}     []       20
8   players  {'league': '39', 'page': '25', 'season': '2023'}     []       20
9   players  {'league': '39', 'page': '26', 'season': '2023'}     []       20
10  players  {'league': '39', 'page': '10', 'season': '2023'}     []       20
11  players  {'league': '39', 'page': '21', 'season': '2023'}     []       20
12  players  {'league': '39', 'page': '28', 'season': '2023'}     []       20
13  players  {'league': '39', 'page': '22', 'season': '2023'}     []       20
14  players   {'league': '39', 'page': '1', 'season': '2023'}     []       20
15  players  {'league': '39', 'page': '29', 'season': '2023'}     []       20
16  players  {'league': '39', 'page': '20', 'season': '2023'}     []       20
17  players  {'league': '39', 'page': '12', 'season': '2023'}     []       20
18  players   {'league': '39', 'page': '3', 'season': '2023'}     []       20
19  players  {'league': '39', 'page': '14', 'season': '2023'}     []       20
20  players  {'league': '39', 'page': '19', 'season': '2023'}     []       20
21  players  {'league': '39', 'page': '16', 'season': '2023'}     []       20
22  players  {'league': '39', 'page': '18', 'season': '2023'}     []       20
23  players  {'league': '39', 'page': '34', 'season': '2023'}     []       20
24  players  {'league': '39', 'page': '47', 'season': '2023'}     []       20
25  players  {'league': '39', 'page': '32', 'season': '2023'}     []       20
26  players  {'league': '39', 'page': '35', 'season': '2023'}     []       20
27  players  {'league': '39', 'page': '37', 'season': '2023'}     []       20
28  players  {'league': '39', 'page': '31', 'season': '2023'}     []       20
29  players   {'league': '39', 'page': '4', 'season': '2023'}     []       20
30  players  {'league': '39', 'page': '50', 'season': '2023'}     []       20
31  players  {'league': '39', 'page': '38', 'season': '2023'}     []       20
32  players  {'league': '39', 'page': '49', 'season': '2023'}     []       20
33  players  {'league': '39', 'page': '45', 'season': '2023'}     []       20
34  players  {'league': '39', 'page': '33', 'season': '2023'}     []       20
35  players  {'league': '39', 'page': '36', 'season': '2023'}     []       20
36  players  {'league': '39', 'page': '39', 'season': '2023'}     []       20
37  players  {'league': '39', 'page': '44', 'season': '2023'}     []       20
38  players  {'league': '39', 'page': '30', 'season': '2023'}     []       20
39  players  {'league': '39', 'page': '43', 'season': '2023'}     []       20
40  players   {'league': '39', 'page': '5', 'season': '2023'}     []       20
41  players  {'league': '39', 'page': '42', 'season': '2023'}     []       20
42  players  {'league': '39', 'page': '40', 'season': '2023'}     []       20
43  players  {'league': '39', 'page': '41', 'season': '2023'}     []       20
44  players  {'league': '39', 'page': '46', 'season': '2023'}     []       20
45  players  {'league': '39', 'page': '48', 'season': '2023'}     []       20
46  players   {'league': '39', 'page': '6', 'season': '2023'}     []       20
47  players   {'league': '39', 'page': '8', 'season': '2023'}     []       20
48  players   {'league': '39', 'page': '7', 'season': '2023'}     []       20
49  players   {'league': '39', 'page': '9', 'season': '2023'}     []       20

                          paging  \
0   {'current': 27, 'total': 51}
1   {'current': 17, 'total': 51}
2   {'current': 15, 'total': 51}
3   {'current': 11, 'total': 51}
4    {'current': 2, 'total': 51}
5   {'current': 13, 'total': 51}
6   {'current': 23, 'total': 51}
7   {'current': 24, 'total': 51}
8   {'current': 25, 'total': 51}
9   {'current': 26, 'total': 51}
10  {'current': 10, 'total': 51}
11  {'current': 21, 'total': 51}
12  {'current': 28, 'total': 51}
13  {'current': 22, 'total': 51}
14   {'current': 1, 'total': 51}
15  {'current': 29, 'total': 51}
16  {'current': 20, 'total': 51}
17  {'current': 12, 'total': 51}
18   {'current': 3, 'total': 51}
19  {'current': 14, 'total': 51}
20  {'current': 19, 'total': 51}
21  {'current': 16, 'total': 51}
22  {'current': 18, 'total': 51}
23  {'current': 34, 'total': 51}
24  {'current': 47, 'total': 51}
25  {'current': 32, 'total': 51}
26  {'current': 35, 'total': 51}
27  {'current': 37, 'total': 51}
28  {'current': 31, 'total': 51}
29   {'current': 4, 'total': 51}
30  {'current': 50, 'total': 51}
31  {'current': 38, 'total': 51}
32  {'current': 49, 'total': 51}
33  {'current': 45, 'total': 51}
34  {'current': 33, 'total': 51}
35  {'current': 36, 'total': 51}
36  {'current': 39, 'total': 51}
37  {'current': 44, 'total': 51}
38  {'current': 30, 'total': 51}
39  {'current': 43, 'total': 51}
40   {'current': 5, 'total': 51}
41  {'current': 42, 'total': 51}
42  {'current': 40, 'total': 51}
43  {'current': 41, 'total': 51}
44  {'current': 46, 'total': 51}
45  {'current': 48, 'total': 51}
46   {'current': 6, 'total': 51}
47   {'current': 8, 'total': 51}
48   {'current': 7, 'total': 51}
49   {'current': 9, 'total': 51}

                                             response
0   [{'player': {'id': 766, 'name': 'R. Olsen', 'f...
1   [{'player': {'id': 83, 'name': 'A. Danjuma', '...
2   [{'player': {'id': 191337, 'name': 'T. Crama',...
3   [{'player': {'id': 207, 'name': 'I. Perišić', ...
4   [{'player': {'id': 84, 'name': 'Wesley Moraes'...
5   [{'player': {'id': 18820, 'name': 'C. Coventry...
6   [{'player': {'id': 161, 'name': 'A. Whiteman',...
7   [{'player': {'id': 80, 'name': 'E. Dennis', 'f...
8   [{'player': {'id': 792, 'name': 'J. Kluivert',...
9   [{'player': {'id': 983, 'name': 'L. Bailey', '...
10  [{'player': {'id': 1452, 'name': 'Mohamed Elne...
11  [{'player': {'id': 18, 'name': 'J. Sancho', 'f...
12  [{'player': {'id': 723, 'name': 'Joelinton', '...
13  [{'player': {'id': 95, 'name': 'B. Badiashile'...
14  [{'player': {'id': 54, 'name': 'Diego Costa', ...
15  [{'player': {'id': 169, 'name': 'K. Trippier',...
16  [{'player': {'id': 104, 'name': 'Carlos Viníci...
17  [{'player': {'id': 17879, 'name': 'Carlos Gome...
18  [{'player': {'id': 2276, 'name': 'J. Cumming',...
19  [{'player': {'id': 17772, 'name': 'C. Goode', ...
20  [{'player': {'id': 133, 'name': 'C. Lenglet', ...
21  [{'player': {'id': 19757, 'name': 'G. Rea', 'f...
22  [{'player': {'id': 23, 'name': 'Sergio Gómez',...
23  [{'player': {'id': 891, 'name': 'L. Shaw', 'fi...
24  [{'player': {'id': 74, 'name': 'S. Amrabat', '...
25  [{'player': {'id': 280, 'name': 'Alisson Becke...
26  [{'player': {'id': 665, 'name': 'M. Cornet', '...
27  [{'player': {'id': 130, 'name': 'Nélson Semedo...
28  [{'player': {'id': 247, 'name': 'C. Gakpo', 'f...
29  [{'player': {'id': 279, 'name': 'L. Mbe Soh', ...
30  [{'player': {'id': 44, 'name': 'Rodri', 'first...
31  [{'player': {'id': 1135, 'name': 'O. Édouard',...
32  [{'player': {'id': 174, 'name': 'C. Eriksen', ...
33  [{'player': {'id': 62, 'name': 'E. Horvath', '...
34  [{'player': {'id': 5, 'name': 'M. Akanji', 'fi...
35  [{'player': {'id': 295, 'name': 'A. Lallana', ...
36  [{'player': {'id': 174, 'name': 'C. Eriksen', ...
37  [{'player': {'id': 697, 'name': 'M. Solomon', ...
38  [{'player': {'id': 49, 'name': 'T. Partey', 'f...
39  [{'player': {'id': 110, 'name': 'H. Massengo',...
40  [{'player': {'id': 18996, 'name': 'H. Arter', ...
41  [{'player': {'id': 292, 'name': 'J. Henderson'...
42  [{'player': {'id': 14, 'name': 'Mahmoud Dahoud...
43  [{'player': {'id': 261, 'name': 'T. Kehrer', '...
44  [{'player': {'id': 9926, 'name': 'Gustavo Scar...
45  [{'player': {'id': 105, 'name': 'F. Ballo-Tour...
46  [{'player': {'id': 18899, 'name': 'I. Hayden',...
47  [{'player': {'id': 172, 'name': 'D. Alli', 'fi...
48  [{'player': {'id': 18922, 'name': 'J. Cork', '...
49  [{'player': {'id': 163, 'name': 'S. Aurier', '...

In [2]:
import pandas as pd

# Assuming df is already loaded with data and has a 'response' column

all_players_stats = []  # This will store the flattened data for all players across all rows

# Iterate over each row in the DataFrame
for row in df['response']:
    # Iterate over each player dictionary in the list of players for this row
    for i in row:
        players = {}  # Dictionary to store flattened player data

        # Flatten player details
        for j in i['player'].keys():
            players[j] = i['player'][j]
        
        # Flatten statistics details (assuming there might be multiple statistics entries, but we'll use the first one for simplicity)
        for k in i['statistics'][0].keys():
            if isinstance(i['statistics'][0][k], dict):
                for l in i['statistics'][0][k].keys():
                    players[k+'_'+l] = i['statistics'][0][k][l]
            else:
                players[k] = i['statistics'][0][k]

        # Append the flattened data to the list
        all_players_stats.append(players)

In [3]:
# Convert the list of player dictionaries to a DataFrame
epl_players_df = pd.DataFrame(all_players_stats)

# Display the resulting DataFrame
epl_players_df.head()

,id,name,firstname,lastname,age,birth,nationality,height,weight,injured,...,fouls_drawn,fouls_committed,cards_yellow,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved
0,766,R. Olsen,Robin Patrick,Olsen,34,"{'date': '1990-01-08', 'place': 'Malmö', 'coun...",Sweden,198 cm,89 kg,False,...,2.0,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
1,1119,K. Ajer,Kristoffer,Vassbakk Köpp Ajer,26,"{'date': '1998-04-17', 'place': 'Rælingen', 'c...",Norway,198 cm,92 kg,False,...,10.0,25.0,5.0,0.0,0.0,None,None,0.0,0.0,NaN
2,7029,J. Gauci,Joe Anthony,Gauci,24,"{'date': '2000-07-04', 'place': 'Adelaide', 'c...",Australia,194 cm,88 kg,False,...,NaN,NaN,0.0,0.0,0.0,None,None,0.0,0.0,0.0
3,15745,M. Roerslev,Mads,Roerslev Rasmussen,25,"{'date': '1999-06-24', 'place': 'København', '...",Denmark,184 cm,77 kg,False,...,15.0,10.0,1.0,0.0,0.0,None,None,0.0,0.0,NaN
4,15908,M. Damsgaard,Mikkel,Krogh Damsgaard,24,"{'date': '2000-07-03', 'place': 'Jyllinge', 'c...",Denmark,180 cm,66 kg,False,...,8.0,14.0,2.0,0.0,0.0,None,None,0.0,0.0,NaN

In [4]:
# Extract the 'date', 'place', and 'country' from the 'birth' dictionary
epl_players_df['birth_date'] = epl_players_df['birth'].apply(lambda x: x.get('date') if isinstance(x, dict) else None)
epl_players_df['birth_place'] = epl_players_df['birth'].apply(lambda x: x.get('place') if isinstance(x, dict) else None)
epl_players_df['birth_country'] = epl_players_df['birth'].apply(lambda x: x.get('country') if isinstance(x, dict) else None)

# Drop the original 'birth' column
epl_players_df.drop(columns=['birth'], inplace=True)

# Display the resulting DataFrame
epl_players_df.head()

,id,name,firstname,lastname,age,nationality,height,weight,injured,photo,...,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved,birth_date,birth_place,birth_country
0,766,R. Olsen,Robin Patrick,Olsen,34,Sweden,198 cm,89 kg,False,https://media.api-sports.io/football/players/7...,...,0.0,0.0,None,None,0.0,0.0,0.0,1990-01-08,Malmö,Sweden
1,1119,K. Ajer,Kristoffer,Vassbakk Köpp Ajer,26,Norway,198 cm,92 kg,False,https://media.api-sports.io/football/players/1...,...,0.0,0.0,None,None,0.0,0.0,NaN,1998-04-17,Rælingen,Norway
2,7029,J. Gauci,Joe Anthony,Gauci,24,Australia,194 cm,88 kg,False,https://media.api-sports.io/football/players/7...,...,0.0,0.0,None,None,0.0,0.0,0.0,2000-07-04,Adelaide,Australia
3,15745,M. Roerslev,Mads,Roerslev Rasmussen,25,Denmark,184 cm,77 kg,False,https://media.api-sports.io/football/players/1...,...,0.0,0.0,None,None,0.0,0.0,NaN,1999-06-24,København,Denmark
4,15908,M. Damsgaard,Mikkel,Krogh Damsgaard,24,Denmark,180 cm,66 kg,False,https://media.api-sports.io/football/players/1...,...,0.0,0.0,None,None,0.0,0.0,NaN,2000-07-03,Jyllinge,Denmark

In [5]:
#epl_players_df.to_csv('epl_player23.csv',index=False)

In [6]:
epl_players_df.shape

(1000, 59)

In [7]:
epl_players_df.drop_duplicates(subset='id',keep='first')

,id,name,firstname,lastname,age,nationality,height,weight,injured,photo,...,cards_yellowred,cards_red,penalty_won,penalty_commited,penalty_scored,penalty_missed,penalty_saved,birth_date,birth_place,birth_country
0,766,R. Olsen,Robin Patrick,Olsen,34,Sweden,198 cm,89 kg,False,https://media.api-sports.io/football/players/7...,...,0.0,0.0,None,None,0.0,0.0,0.0,1990-01-08,Malmö,Sweden
1,1119,K. Ajer,Kristoffer,Vassbakk Köpp Ajer,26,Norway,198 cm,92 kg,False,https://media.api-sports.io/football/players/1...,...,0.0,0.0,None,None,0.0,0.0,NaN,1998-04-17,Rælingen,Norway
2,7029,J. Gauci,Joe Anthony,Gauci,24,Australia,194 cm,88 kg,False,https://media.api-sports.io/football/players/7...,...,0.0,0.0,None,None,0.0,0.0,0.0,2000-07-04,Adelaide,Australia
3,15745,M. Roerslev,Mads,Roerslev Rasmussen,25,Denmark,184 cm,77 kg,False,https://media.api-sports.io/football/players/1...,...,0.0,0.0,None,None,0.0,0.0,NaN,1999-06-24,København,Denmark
4,15908,M. Damsgaard,Mikkel,Krogh Damsgaard,24,Denmark,180 cm,66 kg,False,https://media.api-sports.io/football/players/1...,...,0.0,0.0,None,None,0.0,0.0,NaN,2000-07-03,Jyllinge,Denmark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,284409,D. Mubama,Divin Saku,Mubama,20,England,182 cm,None,False,https://media.api-sports.io/football/players/2...,...,0.0,0.0,None,None,0.0,0.0,NaN,2004-10-25,None,England
996,284502,J. Sweet,James,Lannin-Sweet,21,Wales,None,None,False,https://media.api-sports.io/football/players/2...,...,0.0,0.0,None,None,0.0,0.0,NaN,2003-11-03,None,England
997,284540,Mauro Bandeira,Mauro,Gomes Bandeira,21,Portugal,178 cm,None,False,https://media.api-sports.io/football/players/2...,...,0.0,0.0,None,None,0.0,0.0,NaN,2003-11-18,Loures,Portugal
998,360010,T. Harris,Taylan,Harris,19,England,None,None,False,https://media.api-sports.io/football/players/3...,...,0.0,0.0,None,None,0.0,0.0,NaN,2005-10-30,None,England
999,395209,J. Buyabu,Jili,Buyabu,21,England,182 cm,None,False,https://media.api-sports.io/football/players/3...,...,0.0,0.0,None,None,0.0,0.0,NaN,2003-08-09,None,England